services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        environment:
          POSTGRES_USER: vmq_test_user
          POSTGRES_PASSWORD: vmq_test_password
          POSTGRES_DB: vmq_test_database
      mysql:
        image: mysql:5.7.33
        ports:
          - 3306:3306
        environment:
          MYSQL_RANDOM_ROOT_PASSWORD: "yes"
          MYSQL_USER: vmq_test_user
          MYSQL_PASSWORD: vmq_test_password
          MYSQL_DATABASE: vmq_test_database
      memcached:
        image: memcached
        ports:
          - 11211:11211
      mongodb:
        image: mongo
        ports:
          - 27017:27017
        environment:
          MONGO_INITDB_ROOT_USERNAME: vmq_test_user
          MONGO_INITDB_ROOT_PASSWORD: vmq_test_password
      redis:
        image: redis
        ports:
          - 6379:6379

      vernemq:
        image: vernemq/vernemq:latest
        container_name: vernemq
        ports:
          - 1883:1883
          - 8080:8080
          - 8888:8888
        environment:
          - DOCKER_VERNEMQ_ACCEPT_EULA=yes
          - DOCKER_VERNEMQ_ALLOW_ANONYMOUS=off
          - DOCKER_VERNEMQ_PLUGINS__VMQ_PASSWD=on
          - DOCKER_VERNEMQ_VMQ_PASSWD__PASSWORD_FILE=/opt/vernemq/etc/vmq.password
        volumes:
          - ./vmq.password:/opt/vernemq/etc/vmq.password:ro
        restart: always
